body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    margin: 0px;
    align-self: center;
}
.display {
    display: flex;
    gap : 5px;
}
#screen {
    width: 200px;
    height: 30px;
    flex-grow: 1;
    border: 2px black solid;
}

#results {
    width: 100px;
    height: 30px;
    border: 2px solid black;
}

.calc {
    display: flex;
    width:330px;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    background-color: lightgray;
    gap: 10px;
}

button {
    padding: 5px;
    height: 40px;
    width: 40px;
    font-size: large;
}

.buttons {
    display: flex;
    gap: 10px;
}
.num-buttons , .operator-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}